
.grid-container {
    display: grid;
    grid-template-columns: auto 37% 30%;
    margin-bottom: 10px;
}
.heading-container {
    margin: 30px 0 30px 0;
    width: 100%;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    word-wrap: break-word;
    padding-right: 10px;
}
.name-heading, .phone-heading, .action-btn {
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
}
.delete-btn {
    background: red;
    color: black;
}
.edit-btn {
    color: #0000ff;
}  

.search-btn {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background: #ddd;
    border:none;
    /* border-radius:4px */
}

.cancel-icon {
    right: 255px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
 
.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
    
.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 750px;
    margin-right: 300px;
}
  
.search-box-container {
    position: relative;
    display: flex;
    width: 100%;
}
  
.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 65%;
    font-size: 17px;
}
   
 /* Responsive Design */
@media (max-width: 750px) {
 .action-bar {
      flex-direction: column;
      align-items: flex-start;
}
  
.action-bar .add-btn {
      margin-bottom: 10px;
 }
  
.search-form {
      width: 70%;
    }
}
  
